<div class="row">
  <div class="col-sm-12">
    <div class="main-heading">
      <h3>Incident Notification <br/> <small>Report your Incident or a Workplace Safety Hazard</small></h3>
    </div>
  </div>
</div>
